@font-face { 
  font-family: 'Rethink Sans';
  src: url('../fonts/RethinkSans.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap; 
}

@font-face { 
    font-family: 'Rethink Sans Italic';
    src: url('../fonts/RethinkSans-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap; 
  }

@font-face { 
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
  }

@font-face { 
    font-family: 'Libre Franklin Italic';
    src: url('../fonts/LibreFranklin-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
  }
:root{
    --background-color: #AFC3C7; 
    --header-color: #819396; 
    --accent-color: #331C09;
    --color-text: #000000;
    --color-text-accent: #743C11;
    --color-text-buttons: #FFFFFF; 

    --font-main: 'Rethink Sans', Arial, sans-serif;
    --font-main-italic: 'Rethink Sans Italic', var(--font-main);
    --font-bold: 'Libre Franklin', Arial, sans-serif;
    --font-bold-italic: 'Libre Franklin Italic', var(--font-bold);

    --rhythm: 1.5rem;

}
p{
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 1.15rem;
  line-height: var(--rhythm);
  margin: .5rem .7rem .5rem 1rem;
}
h1{
  color: var(--color-text-accent);
  font-family: var(--font-bold);
  font-size: 2.5rem;
  text-align: left;
  margin: var(--rhythm) 0 0 .5rem;
}

 h2{
  color:var(--color-text-accent);
  font-family: var(--font-bold);
  margin: var(--rhythm) 0 0 .5rem;
  font-size: 1.6rem;  
 }
 
 h3{
  color: var(--color-text-accent);
  font-family: var(--font-bold);
  margin: var(--rhythm) 0 0 .5rem;
  font-size: 1.3rem
 }

ul{
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 1.15rem;
  line-height: var(--rhythm);
  margin: .2rem .7rem 1.2rem;
  padding: 0;
  list-style-type: none; 
}
/* starts each list item with a dash instead of a bullet point */
ul li{
    text-indent: -17px;
    margin: .5rem;  
    padding: 0 0 0 1rem
}
ul li:before{
    content: "-";
    padding: 0 .5rem 0 0;
}


a{
  color: var(--color-text-accent)
}

body{
    background-color: var(--background-color);
    margin: 0;
}

img{
  display: block;
  margin: auto; 
  border-style: solid;
  border-width: 2px;
  border-color: var(--header-color);
}

nav ul {
  margin: auto;
  text-align: center;
  list-style-type: none;
  font-family: var(--font-main);
  line-height: var(--rhythm);
}

nav ul li {
  display: inline;
  margin: 0 1rem;
  font-size: 0.9rem;
  text-indent: 0;
  padding: 0;
}

nav ul li:before {
  content: none;
  padding: 0;
}

nav ul li a {
  color: var(--color-text);
  text-decoration: none;
}

div.contain-home p {
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 1.15rem;
  line-height: var(--rhythm);
  margin: 0.5rem 0.7rem 1.2rem;
  text-indent: var(--rhythm);
}

div.header {
  background-color: var(--header-color);
  padding-top: 1px;
  padding-bottom: 1px;
  width: 440px;
}

div.header h1 {
  color: var(--color-text);
}

div.footer {
  background-color: var(--header-color);
  padding-top: 1px;
  padding-bottom: 1px;
  width: 440px;
}

div.footer h3 {
  color: var(--color-text);
}

div.footer ul {
  margin: auto;
  text-align: center;
  list-style-type: none;
  font-family: var(--font-main);
  line-height: var(--rhythm);
}

div.footer ul li {
  display: inline;
  margin: 0 1rem;
  font-size: 0.9rem;
  text-indent: 0;
  padding: 0;
}

div.footer ul li:before {
  content: none;
  padding: 0;
}

div.footer ul li a {
  color: var(--color-text-accent);
}

div.about p {
  text-indent: var(--rhythm);
}

div.contain-3d p {
  color: var(--color-text);
  font-family: var(--font-main);
  font-size: 1.15rem;
  line-height: var(--rhythm);
  margin: 0.5rem 0.7rem 1.2rem;
  text-indent: var(--rhythm);
}

div.button a {
  color: var(--color-text-buttons);
  text-decoration: none;
  text-align: center;
  margin: auto;
}

div.button {
  width: 125px;
  height: 25px;
  background-color: var(--accent-color);
  border: none;
  padding: 15px 30px;
  margin: var(--rhythm) auto;
  text-align: center;
  display: block;
  font-size: 1.15rem;
  font-family: var(--font-main);
}
